.body{   
    margin-top: 40px;
	display: block;
	margin-right: 30px;
}
.fat {
	font-size: 120%;
	font-weight: bold;
}
.tab_out{
	position:relative;
	height: 60px;
	width:100%;
	top: 0px;
}

#tab{
	padding-top: 10px;
	padding-bottom: 0px;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
	position: fixed;
	z-index: 1;
	height: 60px;
	width: 100%;
}

.left-menu {
	float: left;
}

.right-menu {
	float: right;
}

.nav.dropdown {
	margin-right: 100px;
}

#ti{
	margin-top: 10px;
	margin-left: 10px;
}
.left{
	height: 100%;
	width: 10%;
	float: left;
	position: relative;
}
.left_tab{
	position: fixed;
	background: rgba(0,0,0,0.05);
	
	margin-top: 8%;
	margin-left: 1%;
	text-align: center;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}
.left_tab a{
	text-decoration: none;
	font-size: 1.2em;
}
.left_tab img{
	width: 80px;
	height: 40px;
	border-radius: 25px;
}
.left_tab img:hover{
	background: #e21325;
	opacity: 0.75;
	-moz-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
.create_order{
	float:left;
	width: 55%;
}
#cus{
	height: 50px;
	width: 30%;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
}
#createbtn{
	margin-left: 40px;
	height: 50px;
	color: white;
}
#submitbtn{
	/* margin-left: 140px;	*/
}

#submitbtn ul li {
	float: left;
	padding-right: 10px;
}
#create_page{
	width: 43%;
	float:right;
	margin-top: -90px;
	/*margin-left: 50%;
	position: fixed;*/
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
input[type="number"]{-moz-appearance:textfield;}
.bnum{
	font-size: 26px;
	font-family:Georgia,Times;
	visibility: hidden;
}
#tree{
	position: fixed;
	height: 650px;
	z-index: 2;
	margin-left: 100px;
	margin-top: -50px;
	display:none;
}
#xmas{
	position: fixed;
	z-index: 2;
	margin-left: 500px;
	display:none;
}
#bgd{
	background: grey;
	opacity: 0.4;
	z-index: 1;
	margin-left:-500px;
	margin-top:-100px;
	position: fixed;
	width: 1000%;
	height: 1000%;
	display:none;
}
#egg{
	margin-top: 950px;
	width: 80px;
}
/*DROPDOWN MENU
nav {
    margin: -50px 400px;
	padding-bottom: 40px;
	width: 15%;
	display: inline;
}
 
nav ul ul {
    display: none;
}
    nav ul li:hover > ul {
        display: block;
    }
nav ul {
    background:#2f77d1; 
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: inline-table;
}
    nav ul:after {
        content: ""; clear: both; display: block;
    }
 
    nav ul li {
        float: left;
    }
        nav ul li:hover {
            background: #2f77ee;
			background: linear-gradient(top, #2f77ee 0%, #2f77ff 40%);
            background: -moz-linear-gradient(top, #2f77ee 0%, #2f77ff 40%);
            background: -webkit-linear-gradient(top, #2f77ee 0%,#2f77ff 40%);
			
        }
            nav ul li:hover a {
                color: #fff;
            }
        nav ul li a {
            display: block; padding: 15px 20px;
            color: #fff; text-decoration: none;
        }      
    nav ul ul {
        background: #5f6975; border-radius: 0px; padding: 0;
        position: absolute; top: 100%;
    }
        nav ul ul li {
            float: none; 
            border-top: 1px solid #6b727c;
            border-bottom: 1px solid #575f6a; position: relative;
        }
            nav ul ul li a {
                padding: 10px 20px;
                color: #fff;
            }   
                nav ul ul li a:hover {
                    background: #2f77ff;	
                }
	nav ul ul ul {
        position: absolute; left: 100%; top:0;
	}
*/