.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}
#body{   
        margin-top: 40px;
		display: block;
}
.fat {
	font-size: 120%;
	font-weight: bold;
}
#tab{
	position:relative;
	height: 50px;
	width:100%;
	margin-top: -10px;
}
#tab_in{
		position:relative; 
		padding-top:20px;
        padding-bottom: 20px;
}
#ti{
	margin-top: 10px;
	margin-left: 10px;
}
.left{
	height: 100%;
	width: 10%;
	float: left;
	position: relative;
}
.left_tab{
	position: fixed;
	background: rgba(0,0,0,0.15);
	border-radius: 2px;
	margin-top: 8%;
	margin-left: 3%;
	
}
.create_order{
	float:left;
	width: 45%;
}
.create_page{
	width: 50%;
	float:right;
}
